@charset "UTF-8";
/* CSS Document */


body {

}

ul, ol, dl { 
}
h1, h2, h3, h4, h5, h6{
	
}
p {
	
}
 img { 
 
}
a  { 

}

a:link {
	
}
a:visited {

}
a:hover, a:active, a:focus { 
}

/*classi*/
.sidebar1 {

}
.content {

}
/*id*/

#logo {

}
#header {

}

#footer {

}

